// .container-page{
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     .side-nav{
//        position: absolute;
//        top: 0;
//        left:0;
//        bottom: 0;
//        margin: 0;
//        padding: 0;
//     }
//     div.home-content{
//         margin:0 10px
//     }
// }



.layout-container {
  height: 95vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    border-radius: 1rem;
    padding: 20px;

    .side-nav {
      flex: 0 0 250px;
      color: #ecf0f1;
      transition: flex-basis 0.3s ease, width 0.3s ease;
      overflow-y: auto;
      height: 100%;
      position: relative;

      &.collapsed {
        flex: 0 0 80px;
      }

      .toggle-btn {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        color: #ecf0f1;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
      }
    }

    .main-home-content {
      flex: 1;

      .home-content {
        padding: 1.5rem;
        background-color: #ffffff;
        overflow-y: auto;
        border-radius: 1rem;
        border: 1px solid #e2e8f0;
        min-height: 85vh;
      }
    }


  }

  .side-nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: flex-basis 0.3s ease, width 0.3s ease!important;
    display: none;
  }
img.menu-grid-icon{
  display: none;
  cursor: pointer;
  position: fixed;
  top: 55px;
  left: 40px;
}
}

@media (max-width: 768px) {
  .layout-container {
    .content {
      flex-direction: column;

      .side-nav {
        flex: 0 0 0;
        width: 0;
        position: absolute;
        z-index: 1000;
        height: 900vh;
        top: 0;
        left: 0;
        transition: width 0.3s ease;

        &.expanded {
          flex: 0 0 250px;
          width: 250px;
        }

        .toggle-btn {
          display: block;
        }
      }

      .home-content {
        margin-left: 0;
        padding-top: 60px;
      }
    }
     .side-nav-bar{
       display: block;
       transition: flex-basis 0.3s ease, width 0.3s ease!important;
    }
    img.menu-grid-icon{
      display: block;
    }
  }
}


.bk-gray{
  background-color: #F2F3F5!important;
  border: unset!important;
}

