<div class="page-form-container container-fluid">
  <div class="row">
    <div class="page-details mb-3">
      <div class="title">
        <h2>
          {{ tyepMode() | translate | titlecase }}
          {{ pageName() | translate | titlecase }}
        </h2>
      </div>
      <div class="breadcrumb">
        <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="reactive-form">
      <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text
              [readOnly]="tyepMode() === 'View'"
              [disabled]="tyepMode() === 'View'"
              [label]="'country.form.name_en'"
              [control]="form.get('enName')"
            ></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text
              [readOnly]="tyepMode() === 'View'"
              [disabled]="tyepMode() === 'View'"
              [label]="'country.form.name_ar'"
              [control]="form.get('arName')"
            ></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text
              [readOnly]="tyepMode() === 'View'"
              [disabled]="tyepMode() === 'View'"
              [label]="'country.form.currency'"
              [control]="form.get('currency')"
            ></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text
              [readOnly]="tyepMode() === 'View'"
              [disabled]="tyepMode() === 'View'"
              [label]="'phoneLength'"
              [control]="form.get('phoneLength')"
            ></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text
              [readOnly]="tyepMode() === 'View'"
              [disabled]="tyepMode() === 'View'"
              [label]="'country.form.phoneCode'"
              [control]="form.get('phoneCode')"
            ></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4 pt-3">
            <app-check-box
              [isToggle]="true"
              [label]="'country.form.status'"
              [initValue]="true"
              [readOnly]="tyepMode() == 'View'"
              [disabled]="tyepMode() == 'View'"
              [control]="form.get('status')"
            ></app-check-box>
          </div>
          <div>
            <div class="upload-image-section mt-4 mb-4" *ngIf="!editMode">
              <label class="mb-2">{{
                "shared.upload_img" | translate
              }}</label>
              <app-upload-file formControlName="image"></app-upload-file>
              <div *ngIf="isRequiredError" class="error-message mt-2">
                {{'shared.img_required'|translate}}
              </div>
            </div>
            <div class="edit-mode-section mt-2" *ngIf="editMode">
              <label class="mb-2">{{
                "shared.uploaded_img" | translate
              }}</label>
              <app-edit-mode-image [action]="tyepMode()"
                [editImageProps]="editImageProps"
              ></app-edit-mode-image>
            </div>
          </div>
        

          <div class="actions mt-5 text-center">
            <button
              type="submit"
              class="submit-btn"
              [disabled]="!form.valid"
              *ngIf="tyepMode() !== 'View'"
            >
              <span *ngIf="tyepMode() == 'Add'">{{
                "actions.add" | translate
              }}</span>
              <span *ngIf="tyepMode() == 'Edit'">{{
                "actions.edit" | translate
              }}</span>
            </button>
            <button type="button" class="cancel-btn" (click)="cancel()">
              {{ "actions.cancel" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-dialog [visible]="showConfirmMessage">
  <button
    class="dialog-close-btn btn btn-default"
    (click)="showConfirmMessage = false"
  >
    {{ "actions.close" | translate }}
  </button>
  <button class="dialog-close-btn btn btn-danger" (click)="onConfirmMessage()">
    {{ "actions.confirm" | translate }}
  </button>
</app-dialog>
