
//----------------------------------------------------------------
// Lato
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Thin.ttf');
//   font-weight: 100;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-ThinItalic.ttf');
//   font-weight: 100;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Light.ttf');
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-LightItalic.ttf');
//   font-weight: 300;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Regular.ttf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Italic.ttf');
//   font-weight: 400;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Bold.ttf');
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-BoldItalic.ttf');
//   font-weight: 700;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-Black.ttf');
//   font-weight: 900;
// }
// @font-face {
//   font-family: 'Lato';
//   src: url('../../assets/Lato/Lato-BlackItalic.ttf');
//   font-weight: 900;
//   font-style: italic;
// }


// //----------------------------------------------------------------
// // Cairo
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-ExtraLight.ttf');
//   font-weight: 200;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-Light.ttf');
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-Regular.ttf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-Medium.ttf');
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-SemiBold.ttf');
//   font-weight: 600;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-Bold.ttf');
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-ExtraBold.ttf');
//   font-weight: 800;
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url('../../assets/Cairo/Cairo-Black.ttf');
//   font-weight: 900;
// }


// // Outfit
// @font-face {
//   font-family: 'Outfit';
//   src: url('../../assets/Outfit/Outfit-VariableFont_wght.ttf');
// }

// Outfit
@font-face {
  font-family: 'Bahij';
  src: url('../../assets/fonts/Bahij/Janna-Bold.ttf');
}

@font-face {
  font-family: 'Bahij';
  src: url('../../assets/fonts/Bahij/Janna-Regular.ttf');
}
