<div class="faqs-form-container container-fluid">
    <div class="row">
      <div class="page-details mb-3">
        <div class="title mb-4">
          <h2>{{tyepMode()|translate|titlecase}}  {{pageName()|translate|titlecase}}</h2>
        </div>
        <div class="breadcrumb">
          <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
        </div>
      </div>
    </div>
    <div class=" form-container">
      <div class="reactive-form">
        <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'users.form.name'"
                    [control]="form.get('name')"></app-input-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'users.form.email'"
                    [control]="form.get('email')"></app-input-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'users.form.phone'"
                    [control]="form.get('phone')"></app-input-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                    <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'users.form.password'"
                      [control]="form.get('password')"></app-input-text>
                  </div>
                <!-- <div
                class="col-lg-6 col-md-6 col-sm-12 mt-3"
                *ngIf="tyepMode() != 'Add'"
              >
                <div class="table-container">
                  <div class="title-section">
                    <p>{{ "users.form.imgs" | translate }}</p>
                  </div>

                  <div class="order-image-desc">
                    <ng-container *ngIf="this.imageList?.length != 0">
                      <app-gallery [mediaList]="imageList"></app-gallery>
                    </ng-container>
                    <ng-container *ngIf="this.imageList?.length == 0">
                      <img
                        src="assets/images/empty-state.png"
                        alt="empty state"
                      />
                      <p>{{ "order.no_image" | translate }}</p>
                    </ng-container>
                  </div>
                </div>
              </div> -->
         
          
                <div class="actions mt-5 text-center">
                  <button type="submit" class="submit-btn" [disabled]="!form.valid" *ngIf="tyepMode()!=='View'">
                    <span *ngIf="tyepMode()=='Add'">{{'actions.add'|translate}}</span>
                    <span *ngIf="tyepMode()=='Edit'">{{'actions.edit'|translate}}</span>
                 </button>
                 <button type="button" class="cancel-btn" (click)="cancel()">
                    {{'actions.cancel'|translate}}
                 </button>
                </div>
              </div>
  
        </form>
      </div>
    </div>
  </div>
  
  <app-dialog [visible]="showConfirmMessage">
    <button class="dialog-close-btn btn btn-default" (click)="showConfirmMessage = false"> {{'actions.close'|translate}}</button>
    <button class="dialog-close-btn btn btn-danger" (click)="onConfirmMessage()">  {{'actions.confirm'|translate}}</button>
  </app-dialog>
  