<app-list-page-shell
  [pageTitle]="pageName()"
  pageIcon="pi pi-truck"
  [breadcrumb]="bredCrumb"
  [showSearch]="false"
  [showFilters]="false"
  [showAdd]="false"
>
  <div tableContent>
    <div class="table-view">
      <app-table
        (onActionCliked)="onEditOrder($event)"
        (onStatusCellClick)="onStatusCellClick($event)"
        (reloadGetAllApi)="reloadGetAllApi($event)"
        [colsHeader]="columns"
        [records]="dataList"
        [showrecordIndex]="true"
        [statusClickable]="false"
        [actions]="tableActions"
      ></app-table>
    </div>
    <div class="responsive-accordions">
      <app-table-small-screen
        [colsHeaderSmallTable]="columnsSmallTable"
        [records]="dataList"
        [actions]="tableActions"
      ></app-table-small-screen>
    </div>
    <app-pagination
      (onPageChange)="onPageChange($event)"
      [totalCount]="totalCount"
    ></app-pagination>
  </div>
</app-list-page-shell>

<p-dialog
  class="order-status"
  [header]="'order.pageName_Edit_crumb' | translate"
  [(visible)]="openEditDialog"
  [style]="{ width: '30rem' }"
>
  <form [formGroup]="form">
    <div class="h-auto col-lg-12 col-md-12 col-sm-12 mt-2">
      <app-select
        [placeholder]="form.get('orderStatusId')?.value"
        class="w-100"
        [list]="orderStatusList"
        [label]="'order.form.status'"
        [control]="form.get('orderStatusId')"
      ></app-select>
    </div>
    <div class="h-auto col-lg-12 col-md-12 col-sm-12 mt-3">
      <label class="mb-2">{{ 'order.form.statusImage' | translate }}</label>
      <div class="upload-image-section">
        <app-upload-file accept="image/*" formControlName="statusImage"></app-upload-file>
      </div>
    </div>
  </form>
  <div class="footer mt-5">
    <button class="dialog-close-btn btn btn-primary-bk w-100 block" (click)="API_Edit()">
      {{ 'actions.edit' | translate }}
    </button>
    <button
      class="dialog-close-btn btn btn-danger w-100 block b-raduis-16 mt-3"
      (click)="openEditDialog = false"
    >
      {{ 'actions.close' | translate }}
    </button>
  </div>
</p-dialog>
