::ng-deep {
  .gallery-container {
    padding: 15px;

    .row {
      margin: 0; /* Remove any extra margin caused by other styles */
    }

    .cont {
      max-width: 100%; /* Adjust to fit the column size */
      overflow: hidden;
      cursor: pointer;

      img,
      video {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .col-lg-4, .col-md-6, .col-sm-12 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
