<div class="gallery-container container">
  <div class="row g-3">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let media of mediaList">
      <ng-container *ngIf="media.mediaTypeEnum === 1">
        <div class="cont" (click)="openImage(media.src)">
          <img [src]="media.src" alt="Image">
        </div>
      </ng-container>
      <ng-container *ngIf="media.mediaTypeEnum === 2">
        <div class="cont">
          <video [src]="media.src" controls></video>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<p-dialog header="Image" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
  <img [src]="imageSrc" alt="Image" style="width: 100%;">
</p-dialog>
