<div class="navbar-container">
  <div class="content">
    <div class="welcome">
        <h4>{{'home'|translate}}</h4>
        <div>
          <span>{{'welcome'|translate}}</span> ,
          <span> {{userName|titlecase}}</span>
        </div>
    </div>
      <!-- <div class="search-section  pr-pl-30-small-screen flex-fill">
          <p-autocomplete  placeholder="{{'nav.search'|translate}}" [(ngModel)]="value" [suggestions]="items"
          (completeMethod)="search($event)" />
      </div> -->


    <div class="option-section">
      <div class="notifications-section">
      <app-notifications></app-notifications>
      </div>
  
      <div class="profile d-flex justify-content-between">
        <img width="40" height="40" [src]="userImage?userImage:'assets/images/arabian-man.png'" alt="">
        <div class="info">
            <span class="name block bold">{{userName|titlecase}}</span>
            <span class="mail">{{email}}</span>
        </div>
     </div>
     <button class="lang-btn" (click)="toggleLanguage()">
      {{ selectedLang.toUpperCase() == 'AR' ? 'EN' : 'AR' }}
    </button>
      <!-- <div class="lang-section">
        <p-select [options]="langOptions" [(ngModel)]="selectedLang" (onChange)="onLangChange()" optionLabel="name"
          optionValue="code">
          <ng-template let-lang pTemplate="selectedItem">
            <div class="selected-lang">
              <img src="assets/images/icons/global.svg" [alt]="lang.name.toLowerCase()" width="16px" />
              <div>{{ lang.code }}</div>
            </div>
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang">
              <img [src]="lang.icon" [alt]="lang.name.toLowerCase()" width="16px" />
              <div>{{ lang.name }}</div>
            </div>
          </ng-template>
        </p-select>
      </div> -->

      <div class="logout-section" (click)="logout()" routerLink='/auth/login'>
        <span class="pi pi-sign-out"></span>
      </div>
    </div>
  </div>
</div>
