<app-list-page-shell
  [pageTitle]="pageName()"
  pageIcon="pi pi-gauge"
  [breadcrumb]="bredCrumb"
  [searchValue]="filterMixin.searchValue"
  [filtersExpanded]="filterMixin.filtersExpanded"
  [activeFilterCount]="filterMixin.activeFilterCount"
  [filterChips]="filterMixin.filterChips"
  [addLink]="global_router_add_url_in_Table"
  [showFilters]="false"
  (searchChange)="onSearch($event)"
  (filterToggle)="filterMixin.toggleFilters()"
  (filterSubmit)="onSubmitFilter()"
  (filterReset)="reset()"
  (chipRemove)="onChipRemove($event)"
>
  <div tableContent>
    <div class="table-view">
      <app-table
        [colsHeader]="columns"
        [records]="dataList"
        [showrecordIndex]="true"
        [actions]="tableActions"
      ></app-table>
    </div>
    <div class="responsive-accordions">
      <app-table-small-screen
        [colsHeaderSmallTable]="columnsSmallTable"
        [records]="dataList"
        [actions]="tableActions"
      ></app-table-small-screen>
    </div>
    <app-pagination
      (onPageChange)="onPageChange($event)"
      [totalCount]="totalCount"
    ></app-pagination>
  </div>
</app-list-page-shell>
