<div class="faqs-form-container container-fluid">
  <div class="row">
    <div class="page-details mb-3">
      <div class="title mb-4">
        <h2>
          {{ "View" | translate | titlecase }}
          {{ pageName() | translate | titlecase }}
        </h2>
      </div>
    </div>
  </div>
  @if (loadingProfile) {
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  } @else {
    <div class="page d-flex flex-column flex-lg-row align-items-start">
      <div class="image align-self-center">
        <img
          [src]="selectedImage || profile.image || defaultImage"
          (error)="imageError($event)"
        />
        @if (selectedImage) {
          <button
            class="image-btn remove-image"
            [ngClass]="{
              'position-right': selectedLang === 'en',
              'position-left': selectedLang === 'ar',
            }"
            type="button"
            (click)="removeImage()"
          >
            <i class="pi pi-trash"></i>
          </button>
        } @else {
          <button
            class="image-btn update-image"
            [ngClass]="{
              'position-right': selectedLang === 'en',
              'position-left': selectedLang === 'ar',
            }"
            type="button"
            (click)="profileImage.click()"
          >
            <i class="pi pi-pencil"></i>
          </button>
        }
      </div>
      <input
        #profileImage
        class="d-none"
        type="file"
        accept="image/*"
        (change)="imageSelected($event)"
        [multiple]="false"
      />
      <form
        class="info container-fluid"
        [formGroup]="profileForm"
        (ngSubmit)="updateProfile()"
      >
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.userName'"
              [control]="profileForm.get('userName')"
            ></app-input-text>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.storeName'"
              [control]="profileForm.get('storeName')"
            ></app-input-text>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.email'"
              [control]="profileForm.get('email')"
            ></app-input-text>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.phone'"
              [control]="profileForm.get('phone')"
              [type]="'tel'"
              [length]="+country.phoneLength"
            ></app-input-text>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.arDescription'"
              [control]="profileForm.get('arDescription')"
              type="textarea"
            ></app-input-text>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <app-input-text
              [label]="'profile.form.enDescription'"
              [control]="profileForm.get('enDescription')"
              type="textarea"
            ></app-input-text>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="submit"
            class="submit-button btn-primary-bk"
            [disabled]="profileForm.invalid || updating || !profileChanged()"
          >
            @if (updating) {
              {{ "profile.form.updating" | translate }}
            } @else {
              {{ "profile.form.save_changes" | translate }}
            }
          </button>
        </div>
      </form>
    </div>
  }
</div>
