<div class="faqs-form-container container-fluid">
  <div class="row">
    <div class="page-details mb-3">
      <div class="title mb-4">
        <h2>
          {{ "View" | translate | titlecase }}
          {{ pageName() | translate | titlecase }}
        </h2>
      </div>
    </div>
  </div>
  @if (loadingProfile) {
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  } @else {
    <div class="page d-flex align-items-start">
      <div class="image">
        <img
          [src]="selectedImage || profile.image || defaultImage"
          (error)="imageError($event)"
        />
        @if (selectedImage) {
          <button
            class="image-btn remove-image"
            [ngClass]="{
              'position-right': selectedLang === 'en',
              'position-left': selectedLang === 'ar',
            }"
            type="button"
            (click)="removeImage()"
          >
            <i class="pi pi-trash"></i>
          </button>
        } @else {
          <button
            class="image-btn update-image"
            [ngClass]="{
              'position-right': selectedLang === 'en',
              'position-left': selectedLang === 'ar',
            }"
            type="button"
            (click)="profileImage.click()"
          >
            <i class="pi pi-pencil"></i>
          </button>
        }
      </div>
      <input
        #profileImage
        class="d-none"
        type="file"
        accept="image/*"
        (change)="imageSelected($event)"
        [multiple]="false"
      />
      <form class="info"></form>
    </div>
  }
</div>
