<app-list-page-shell
  [pageTitle]="pageName()"
  pageIcon="pi pi-times-circle"
  [breadcrumb]="bredCrumb"
  [searchValue]="filterMixin.searchValue"
  [filtersExpanded]="filterMixin.filtersExpanded"
  [activeFilterCount]="filterMixin.activeFilterCount"
  [filterChips]="filterMixin.filterChips"
  addLink="/cancel-reason/add"
  (searchChange)="onSearch($event)"
  (filterToggle)="filterMixin.toggleFilters()"
  (filterSubmit)="onSubmitFilter()"
  (filterReset)="reset()"
  (chipRemove)="onChipRemove($event)"
>
  <div filters>
    <div class="filter-field">
      <label>{{ 'cancel_reason.form.reason_en' | translate }}</label>
      <input
        type="text"
        class="warda-input"
        [(ngModel)]="objectSearch.enName"
        [placeholder]="'shared.enter' | translate"
      />
    </div>
    <div class="filter-field">
      <label>{{ 'cancel_reason.form.reason_ar' | translate }}</label>
      <input
        type="text"
        class="warda-input"
        [(ngModel)]="objectSearch.arName"
        [placeholder]="'shared.enter' | translate"
      />
    </div>
  </div>

  <div tableContent>
    <div class="table-view">
      <app-table
        [colsHeader]="columns"
        [records]="dataList"
        [showrecordIndex]="true"
        [actions]="tableActions"
      ></app-table>
    </div>
    <div class="responsive-accordions">
      <app-table-small-screen
        [colsHeaderSmallTable]="columnsSmallTable"
        [records]="dataList"
        [actions]="tableActions"
      ></app-table-small-screen>
    </div>
    <app-pagination
      (onPageChange)="onPageChange($event)"
      [totalCount]="totalCount"
    ></app-pagination>
  </div>
</app-list-page-shell>
