<div class="edit-image-container" *ngIf="editImageProps.props.visible">
  <div class="content">
    <div class="image-section">
      <a *ngIf="type=='pdf'" [class.no_action]="!isValidURL(editImageProps.props.imgSrc)" [href]="editImageProps.props.imgSrc" target="_blank">
        <img *ngIf="type=='pdf'"  [src]="isValidURL(editImageProps.props.imgSrc)?'assets/images/pdf.png':'assets/images/empty-state.png'" alt="" [width]="imgWidth" height="auto">
      </a>
      <img *ngIf="type!='pdf'"  [src]="isValidURL(editImageProps.props.imgSrc)?editImageProps.props.imgSrc:'assets/images/empty-state.png'" alt="" [width]="imgWidth" height="auto">
    </div>
    <div class="action">
      <div class="mt-3 w-100" *ngIf="hideEditBtn">{{'shared.download'|translate}}</div>
      <ng-container *ngIf="action!='View'">
        <button  *ngIf="!hideEditBtn" type="button" class="btn btn-primary" (click)="editImageProps.onEditBtn()">{{'actions.edit'|translate}}</button>
      </ng-container>
    </div>
  </div>
</div>
