<div class="edit-image-container" *ngIf="editImageProps.props.visible">
  <div class="content">
    <div class="image-section">
      @if (type === 'pdf') {
        <a *ngIf="isValidURL(editImageProps.props.imgSrc)" href="javascript:void(0)" (click)="onDownloadPdf(); $event.preventDefault()" class="cursor-pointer" title="{{'shared.download'|translate}}">
          <img [src]="'assets/images/pdf.png'" alt="" [width]="imgWidth" height="auto">
        </a>
        <div *ngIf="!isValidURL(editImageProps.props.imgSrc)">
          <img [src]="'assets/images/empty-state.png'" alt="" [width]="imgWidth" height="auto">
        </div>
      } @else {
        <img [src]="isValidURL(editImageProps.props.imgSrc)?editImageProps.props.imgSrc:'assets/images/empty-state.png'" alt="" [width]="imgWidth" height="auto">
      }
    </div>
    <div class="action">
      <div class="mt-3 w-100" *ngIf="hideEditBtn && type !== 'pdf'">{{'shared.download'|translate}}</div>
      <ng-container *ngIf="action!='View'">
        <button *ngIf="!hideEditBtn" type="button" class="btn btn-primary" (click)="editImageProps.onEditBtn();onEdit()">{{'actions.edit'|translate}}</button>
      </ng-container>
    </div>
  </div>
</div>
