:host ::ng-deep {
  .p-floatlabel {
    width: 100%;

    .p-select {
      width: 100%;
      border-radius: var(--warda-radius-md);
      border-color: var(--warda-border);

      &:not(.p-disabled):hover {
        border-color: var(--warda-primary-light);
      }
    }

    label {
      font-size: var(--warda-text-sm);
      color: var(--warda-text-secondary);
    }
  }
}
