<div class="faqs-form-container container-fluid">
    <div class="row">
      <div class="page-details mb-3">
        <div class="title mb-4">
          <h2>{{tyepMode()|translate|titlecase}} {{pageName()|translate|titlecase}}</h2>
        </div>
        <div class="breadcrumb">
          <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
        </div>
      </div>
    </div>
    <div class=" form-container">
      <div class="reactive-form">
        <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.firstName'"
                  [control]="form.get('firstName')"></app-input-text>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.lastName'"
                  [control]="form.get('lastName')"></app-input-text>
              </div>
          
               
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.email'"
                  [control]="form.get('email')"></app-input-text>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.userName'"
                [control]="form.get('userName')"></app-input-text>
                             
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.mobileNumber'"
                [control]="form.get('mobileNumber')"></app-input-text>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-select [placeholder]="form.get('roleId')?.value" class="w-100" [list]="roleList" [label]="'admin.form.role'"
                [control]="form.get('roleId')"></app-select>
            </div>

            
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3" *ngIf="tyepMode()=='Add'">
                <app-input-text (onValueChange)="onPasswordChanged($event)" [showPasswordWeakness]="true" type="password" class="w-100" [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'admin.form.password'"
                [control]="form.get('password')"></app-input-text>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3"*ngIf="tyepMode()=='Add'">
                <app-input-text (onValueChange)="onConfirmPasswordChanged($event)"  type="password" [disabled]="tyepMode()=='View'" [readOnly]="tyepMode()=='View'" 
                 [disabled]="tyepMode()=='View'" [label]="'admin.form.confirmPassword'"
                [control]="form.get('confirmPassword')"></app-input-text>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <app-select [placeholder]="form.get('genderId')?.value" class="w-100" [list]="genderList" [label]="'admin.form.gender'"
                [control]="form.get('genderId')"></app-select>
            </div>

          
            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <app-check-box [isToggle]="true" [label]="'admin.form.status'" [control]="form.get('isActive')"></app-check-box>
             </div>

            
        
            <div class="actions mt-5 text-center">
              <button type="submit" class="submit-btn" [disabled]="!form.valid" *ngIf="tyepMode()!='View'">
                <span *ngIf="tyepMode()=='Add'">{{'actions.add'|translate}}</span>
                <span *ngIf="tyepMode()=='Edit'">{{'actions.edit'|translate}}</span>
              </button>
              <button type="button" class="cancel-btn" (click)="cancel()">
                {{'actions.cancel'|translate}}
              </button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
  <app-dialog [visible]="showConfirmMessage">
    <button class="dialog-close-btn btn btn-default" (click)="showConfirmMessage = false"> {{'actions.close'|translate}}</button>
    <button class="dialog-close-btn btn btn-danger" (click)="onConfirmMessage()">  {{'actions.confirm'|translate}}</button>
  </app-dialog>
  