::ng-deep {
  .order-details-container {
    .page-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .client-deatils-container {
      .content {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;

        .title-section {
          border-bottom: 1px solid #cfcfcf;

          p {
            font-size: 20px;
            color: #989898;
            margin-bottom: 10px;
          }
        }

        .desc {
          display: flex;
          gap: 30px;
          align-items: center;

          .main-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .img {
              img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
              }
            }

            .name {
              p {
                font-size: 20px;
              }
            }

            .actions {

              display: flex;
              gap: 10px;

              .view {
                cursor: pointer;
                border-radius: 4px;
                padding: 6px 10px;
                background: rgb(125, 125, 202);
                text-decoration: none;

                &:hover {
                  background: rgb(49, 49, 109);
                }

                i {
                  color: white;
                }
              }

              .call {
                cursor: pointer;
                border-radius: 4px;
                padding: 6px 10px;
                background: rgb(125, 202, 180);
                text-decoration: none;

                &:hover {
                  background: rgb(46, 172, 138);
                }

                i {
                  color: white;
                }
              }
            }
          }

          .sub-deatils {
            border-inline-start: 1px solid #dfdfdf;
            padding-top: 20px;
            margin-top: 10px;
            padding-inline-start: 31px;

            .main {
              display: flex;
              gap: 20px;
              align-items: center;
              margin-bottom: 10px;

              .icon {
                border-radius: 50%;
                padding: 10px;
                background: #7373e5;
                display: flex;
                color: white;

                i {
                  font-size: 15px;
                }
              }

              .details {
                .title {
                  p {
                    color: #b6b6b6;
                  }
                }

                .desc {
                  p {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .order-details-container {
      .content {
        height: 583px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;

        .title-section {
          border-bottom: 1px solid #cfcfcf;

          p {
            font-size: 20px;
            color: #989898;
            margin-bottom: 10px;
          }
        }

        .desc {
          .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;

            .status-details {
              padding: 6px;
              border-radius: 5px;
              color: white;
              opacity: 0.8;
            }

            .amount {
              p-inputicon {
                border-radius: 11px;
                background: #2bb82b;
                padding: 7px;
                color: white;
                position: absolute;
                bottom: 5px;
                top: 13px;
                cursor: pointer;

                &:hover {
                  border: 1px solid #2bb82b;
                  background-color: white;
                  color: rgb(168, 168, 168);
                }
              }

            }

          }

          .order-status-dropdown {
            p-select {
              width: 200px !important;
            }
          }
        }
      }
    }

    .table-container {
      margin: 2rem auto;
      max-width: 100%;
      overflow-x: auto;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 8px;

      .title-section {
        border-bottom: 1px solid #cfcfcf;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        .add-provider {
          display: flex;
          gap: 10px;
          padding-inline: 5px;
          color: white;
          background-color: rgb(23, 185, 23);
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 5px;
          border: none;

          i {
            font-size: 10px;
          }

          p {
            color: white;
          }

          &:hover {
            background-color: rgb(30, 128, 30);
          }

          &:disabled {
            cursor: not-allowed;
            background-color: rgb(187, 187, 187);
          }
        }

        .driver {
          background: #5050cb;
        }

        p {
          font-size: 20px;
          color: #989898;
          margin-bottom: 10px;
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        overflow: hidden;

        thead {
          background-color: #f4f4f6;
          color: #333;
          font-weight: bold;

          th {
            padding: 1rem;
            text-align: left;
            font-size: 0.9rem;
            border-bottom: 1px solid #ddd;

            &:lang(ar) {
              text-align: right !important;
            }
          }
        }

        tbody {
          tr {
            transition: background-color 0.3s ease;

            &:nth-child(even) {
              background-color: #f9f9f9;
            }

            &:hover {
              background-color: #f0f4fa;
            }
          }

          td {
            font-size: 0.9rem;
            color: #555;
            border-bottom: 1px dotted #ddd;
            padding: 1rem;

            &:lang(ar) {
              text-align: right !important;
            }

            &:last-child {
              text-align: center;
            }
          }

          .actions-icon {
            display: flex;
            gap: 10px;

            span {
              margin: 0 5px;
              cursor: pointer;
              font-size: 1.2rem;

              &.pi-trash {
                color: #f76262;
              }

              &.pi-pen-to-square {
                color: #28a745;
              }

              &.pi-eye {
                color: #6060e7;
              }

              &.pi-ban {
                color: #f76262;
              }

              &.pi-bullseye {
                color: green;
              }
            }
          }
        }
      }
    }

    .order-image-desc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  app-modal {
    .title {
      h3 {
        color: rgb(175, 175, 175);
      }
    }

    .content {
      margin-top: 40px;

      p-select {
        width: 100%;
      }

      .error {
        color: red;
      }
    }
  }

  .delete-order-btn {
    border-radius: 6px;
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 6px;

    &:hover {
      background-color: rgb(195, 23, 23);
    }
  }


}
