div.img-profile{
    text-align: center;
    display: flex;
    justify-content: center;
    img{
        width: 100px;
        height: 80px;
        cursor: pointer;
        border-radius: 50%;
        
    }
}