<div class="faqs-form-container container-fluid">
    <div class="row">
      <div class="page-details mb-3">
        <div class="title mb-4">
          <h2>{{tyepMode()|translate|titlecase}}  {{pageName()|translate|titlecase}}</h2>
        </div>
        <!-- <div class="breadcrumb">
          <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
        </div> -->
      </div>
    </div>
    <div class=" form-container">
      <div class="reactive-form">
        <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'article.form.enTitle'"
                    [control]="form.get('enTitle')"></app-input-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'article.form.arTitle'"
                    [control]="form.get('arTitle')"></app-input-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                  <app-input-text [readOnly]="tyepMode()=='View'" [disabled]="tyepMode()=='View'" [label]="'article.form.displayOrder'"
                    [control]="form.get('displayOrder')"></app-input-text>
                </div>
                <div class="row">
                    <div class=" mt-2 col-lg-6 col-md-6 col-sm-12 mt-4">
                      <app-editor [label]="'article.form.desc_en'" [control]="form.get('enDescription')"></app-editor>
                    </div>
                    <div class=" mt-2 col-lg-6 col-md-6 col-sm-12 mt-4">
                      <app-editor [label]="'article.form.desc_ar'" [control]="form.get('arDescription')"></app-editor>
                    </div>
                </div>
                <!-- <div
                class="col-lg-6 col-md-6 col-sm-12 mt-3"
                *ngIf="tyepMode() != 'Add'"
              >
                <div class="table-container">
                  <div class="title-section">
                    <p>{{ "article.form.imgs" | translate }}</p>
                  </div>

                  <div class="order-image-desc">
                    <ng-container *ngIf="this.imageList?.length != 0">
                      <app-gallery [mediaList]="imageList"></app-gallery>
                    </ng-container>
                    <ng-container *ngIf="this.imageList?.length == 0">
                      <img
                        src="assets/images/empty-state.png"
                        alt="empty state"
                      />
                      <p>{{ "order.no_image" | translate }}</p>
                    </ng-container>
                  </div>
                </div>
              </div> -->
              <div>
                <div
                  class="upload-image-section mt-4 mb-4"
                  *ngIf="!editMode"
                >
                  <label class="mb-2">{{
                    "shared.upload_img" | translate
                  }}</label>
                  <app-upload-file
                    [isMulti]="false"
                    formControlName="image"
                  ></app-upload-file>
                  <!-- <div *ngIf="isRequiredError" class="error-message mt-2">
                      {{'shared.img_required'|translate}}
                    </div> -->
                </div>
                <div class="edit-mode-section mt-2" *ngIf="editMode">
                  <label class="mb-2">{{
                    "shared.uploaded_img" | translate
                  }}</label>
                  <app-edit-mode-image
                    [editImageProps]="editImageProps"
                    [action]="tyepMode()"
                  ></app-edit-mode-image>
                </div>
              </div>
          
                <div class="actions mt-5 text-center">
                  <button type="submit" class="submit-btn" [disabled]="!form.valid" *ngIf="tyepMode()!=='View'">
                    <span *ngIf="tyepMode()=='Add'">{{'actions.add'|translate}}</span>
                    <span *ngIf="tyepMode()=='Edit'">{{'actions.edit'|translate}}</span>
                 </button>
                 <button type="button" class="cancel-btn" (click)="cancel()">
                    {{'actions.cancel'|translate}}
                 </button>
                </div>
              </div>
  
        </form>
      </div>
    </div>
  </div>
  
  <app-dialog [visible]="showConfirmMessage">
    <button class="dialog-close-btn btn btn-default" (click)="showConfirmMessage = false"> {{'actions.close'|translate}}</button>
    <button class="dialog-close-btn btn btn-danger" (click)="onConfirmMessage()">  {{'actions.confirm'|translate}}</button>
  </app-dialog>
  